:root {
  /* colors */
  --main-bg-color: #eeeeee;
  --main-green-color: #30af82;
  --main-gray-color: #aaa7a7;
  --main-dark-color: #000000;
  --main-light-color: #ffffff;
  /* font-size */
  --main-title-size: 30px;
  --main-text-size: 16px;
  --main-title-weight: 500;
  --main-text-weight: 400;
  --main-btn-font-size: 20px;
  --main-subtitle-size: 22px;
  --main-subtitle-weight: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bg-color);
}

h1 {
  font-weight: var(--main-title-weight);
  font-size: var(--main-title-size);
  color: var(--main-green-color);
}

h2 {
  font-weight: var(--main-subtitle-weight);
  font-size: var(--main-subtitle-size);
  color: var(--main-light-color);
}

p {
  font-weight: var(--main-text-weight);
  font-size: var(--main-text-size);
  color: var(--main-dark-color);
}

a {
  text-decoration: none;
}

button {
  background-color: var(--main-green-color);
  color: var(--main-light-color);
  border: none;
  border-radius: 7px;
  padding: 10px 20px;
  font-size: var(--main-btn-font-size);
  font-weight: var(--main-subtitle-weight);
  width: 174px;
}

/*    NAVIGATION     */

nav header {
  background-color: var(--main-green-color);
  height: 66px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#hamburger-btn,
#hamburger-close-btn {
  color: var(--main-light-color);
  font-size: 46px;
}

nav section {
  height: calc(100vh - 66px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#nav-cards-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.nav-cards,
.home-cards {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}

.nav-cards img,
.home-cards img {
  width: 100%;
}

.nav-cards h2 {
  position: absolute;
}

#nav-btns-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

#hamburger-nav,
#hamburger-close-btn {
  display: none;
}

/*    HOME MAIN     */

main {
  padding: 20px;
  height: calc(100vh - 66px);
}

#home-cards-container {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#home-cards-container a {
  height: calc(50% - 10px);
}

.home-cards {
  height: 100%;
}

#home-cards-description-container {
  width: 70%;
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}

#home-cards-description-container p {
  color: var(--main-light-color);
  text-align: center;
}
