:root {
  /* colors */
  --main-bg-color: #eeeeee;
  --main-green-color: #30af82;
  --main-gray-color: #aaa7a7;
  --main-dark-color: #000000;
  --main-light-color: #ffffff;
  /* font-size */
  --main-title-size: 30px;
  --main-text-size: 16px;
  --main-title-weight: 500;
  --main-text-weight: 400;
  --main-btn-font-size: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bg-color);
}

h1 {
  font-weight: var(--main-title-weight);
  font-size: var(--main-title-size);
  color: var(--main-green-color);
}

p {
  font-weight: var(--main-text-weight);
  font-size: var(--main-text-size);
  color: var(--main-dark-color);
}

button {
  background-color: var(--main-green-color);
  color: var(--main-light-color);
  border: none;
  border-radius: 7px;
  padding: 10px 20px;
  font-size: var(--main-btn-font-size);
  width: 174px;
}
